* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#grid_wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 100px 40px 500px minmax(100px, 1fr); 
    grid-template-areas:
    "hea hea"
    "nav nav"
    "se1 se2"
    "foo foo";
}

header {
    background-color:  #d6f9e5;
    color: black;
    grid-area: hea;
    font-family: fantasy;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid #27ae60;


}
nav {
    
    background-color: #d6f9e5;
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid #27ae60 ;
    
    width: 100vw;
}

#section_1 {
    background-color: white ;
    grid-area: se1;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
}
#section_2 {
    grid-area: se2;
    padding-left: 150px;
}

footer {
    background-color:  #27ae60;
    grid-area: foo;
}

#link_list {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    list-style: none;
}

h2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
}

#linklist {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 1000px;
}


#rubrik_se1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#Naturbild {
    width: 650px;
    height: auto;

}






